<% include ./head.ejs %>

<link rel="stylesheet" href="/assets/stylesheets/aboutUs.css">

<% include ./navbar.ejs %>

<div id="about-us" class="clearfix">
	<div class="heading">
		<img src="/assets/images/aboutUs/heading.png">
	</div>
	<div class="text-block">
		<p id="style-2" class="scrollbar">
			Hi! I'm TJ Brock and I'm here to tell you a little bit about my band "MISOGYFIST"! We're currently preparing for our first performance ever, and I'm here right now to tell you all about us and stuff! Stick around with us, cause we're gonna make it big one of these days!
		</p>
	</div>
</div>
<div id="mobile-spacer" class="video-container"><iframe width="853" height="480" src="https://www.youtube.com/embed/f8nIkz_cdt0?wmode=opaque" frameborder="0" allowfullscreen</iframe</div>


<% include ./footer.ejs %>