<% include ./navbar.ejs %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="about-us" class="clearfix">
	<div class="heading">
		<img src="/assets/images/aboutUs/heading.png">
	</div>
	<div class="text-block">
		<p id="style-2" class="scrollbar-about-us">
			Hi! I'm TJ Brock and I'm here to tell you a little bit about my band "MISOGYFIST"! We're currently preparing for our first performance ever, and I'm here right now to tell you all about us and stuff! Stick around with us, cause we're gonna make it big one of these days!
		</p>
	</div>
</div>
<div id= social-media>
	<div class="links">Check us out on facebook!          <div class="fb-like" data-href="https://www.facebook.com/werelikeapunkband/" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div></div>
	<div class="links"><a href="https://www.instagram.com/werelikeapunkband/"> and check us out on our instagram page "werelikeapunkband"</a>
</div>
<div id="mobile-spacer" class="video-container"><iframe width="853" height="480" src="https://www.youtube.com/embed/gBrBSUdUmMk" frameborder="0" allowfullscreen</iframe</div>



  

<% include ./footer.ejs %>
