<% include ./navbar.ejs %>




<div id="character-select" class="clearfix">
	<div class="heading">
		The Band.
	</div>
	<div class="scrollbar-character" id="style-2">
		<div id="selector" class="clearfix">
			<div id="TJ" class="option clearfix">
				<a href="characterSelect/TJ">
					<img src="/assets/images/characterSelect/TJ.png" class="icon">
				</a>
				<ul class="info">
					<li class="actor">
						Stephen Zuccaro
					</li>
					<li class="as">
						as
					</li>
					<li class="role">
						T.J.
					</li>
				</ul>
			</div>
			<div id="BUTCHIE" class="option clearfix">
				<a  href="characterSelect/BUTCHIE">
					<img src="/assets/images/characterSelect/BUTCHIE.png" class="icon">
				</a>
				<ul class="info">
					<li class="actor">
						Brendan Hickey
					</li>
					<li class="as">
						as
					</li>
					<li class="role">
						BUTCHIE
					</li>
				</ul>
			</div>
			<div id="NIKKI" class="option clearfix">
				<a href="characterSelect/NIKKI">
					<img src="/assets/images/characterSelect/NIKKI.png" class="icon">
				</a>
				<ul class="info">
					<li class="actor">
						Allison Frasca
					</li>
					<li class="as">
						as
					</li>
					<li class="role">
						NIKKI
					</li>
				</ul>
			</div>
			<div id="TODD" class="option clearfix">
				<a  href="characterSelect/TODD">
					<img src="/assets/images/characterSelect/TODD.png" class="icon">
				</a>
				<ul class="info">
					<li class="actor">
						Thom Oliver James Boody
					</li>
					<li class="as">
						as
					</li>
					<li class="role">
						TODD
					</li>
				</ul>
			</div>
			<div id="LEE" class="option clearfix">
				<a href="characterSelect/LEE">
					<img src="/assets/images/characterSelect/LEE.png" class="icon">
				</a>
				<ul class="info">
					<li class="actor">
						Timothy Francis Simpson
					</li>
					<li class="as">
						as
					</li>
					<li class="role">
						LEE
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<% include ./footer.ejs %>