
    
<% include navbar.ejs %>
<div id="credits" class="clearfix">
    <img src="/assets/images/castCrew/castCrew.png" class="header">
    <div class="credits-wheel">
        <div id="style-2" class="scrollbar">
            <h1>Director</h1>
            <ul>
                <li>Thom Oliver James Boody</li>
            </ul>
            <h1>Writer</h1>
            <ul>
                <li>Thom Oliver James Boody</li>
            </ul>
            <h1>producers</h1>
            <ul>
                <li>Thom Oliver James Boody</li>
                <li>Brendan Hickey</li>
                <li>Derrick Jabs</li>
                <li>Anthony Panzica</li>
                <li>Stephen Zuccaro</li>
            </ul>
            <h1>Film Editing</h1>
            <ul>
                <li>Anthony Panzica</li>
            </ul>
            <h1>Cinematography</h1>
            <ul>
                <li>Anthony Panzica</li>
            </ul>
            <h1>Assistant Camera</h1>
            <ul>
                <li>Josh Berton</li>
                <li>Derrick Jabs</li>
            </ul>
            <h1>Assistant Director</h1>
            <ul>
                <li>Derrick Jabs</li>
            </ul>
            <h1>Composer</h1>
            <ul>
                <li>Thom Oliver James Boody</li>
                <li>Brendan Hickey</li>
                <li>Timothy Simpson</li>
                <li>Stephen Zuccaro</li>
            </ul>
            <h1>Set Decoration</h1>
            <ul>
                <li>Thom Oliver James Boody</li>
            </ul>
            <h1>Set Dressers</h1>
            <ul>
                <li>Brendan Hickey</li>
                <li>Derrick Jabs</li>
                <li>James Neenan</li>
                <li>Lexi Neenan</li>
                <li>Richard Smith</li>
                <li>Stephen Zuccaro</li>
            </ul>
            <h1>Unit Production Manager</h1>
            <ul>
                <li>Richard Smith</li>
            </ul>
            <h1>Makeup Department</h1>
            <ul>
                <li>Lexi Neenan</li>
                <li>Tiffany Gardella</li>
            </ul>
            <h1>Sound Editor</h1>
            <ul>
                <li>Kari Barry</li>
            </ul>
            <h1>Sound Mixer</h1>
            <ul>
                <li>Kari Barry</li>
                <li>Richard Smith</li>
            </ul>
            <h1>Sound Recordists</h1>
            <ul>
                <li>Derrick Jabs</li>
                <li>Richard Smith</li>
            </ul>
            <h1>Boom Operators</h1>
            <ul>
                <li>Josh Berton</li>
                <li>James Neenan</li>
                <li>Stephen Zuccaro</li>
            </ul>
            <h1>Camera Operators</h1>
            <ul>
                <li>Josh Berton</li>
                <li>Andrew Gavin</li>
                <li>Ryan Grippi</li>
                <li>Derrick Jabs</li>
                <li>Anthony Panzica</li>
            </ul>
            <h1>Digital Imaging Technician</h1>
            <ul>
                <li>Thom Oliver James Boody</li>
                <li>Derrick Jabs</li>
                <li>Anthony Panzica</li>
            </ul>
            <h1>Gaffer</h1>
            <ul>
                <li>Anthony Panzica</li>
            </ul>
            <h1>Lighting Technician</h1>
            <ul>
                <li>Jasmine Fuentes</li>
                <li>Ryan Grippi</li>
                <li>Derrick Jabs</li>
            </ul>
            <h1>Costumer</h1>
            <ul>
                <li>Thom Oliver James Boody</li>
                <li>Brendan Hickey</li>
            </ul>
            <h1>Wardrobe Stylist</h1>
            <ul>
                <li>Lexi Neenan</li>
            </ul>
            <h1>Script Supervisor</h1>
            <ul>
                <li>Lexi Neenan</li>
            </ul>
            <h1>Production Assistants</h1>
            <ul>
                <li>James Neenan</li>
                <li>Lexi Neenan</li>
                <li>Ryan Rossi</li>
            </ul>
            <h1>Graphic Designer</h1>
            <ul>
                <li>James Johnston</li>
            </ul>
            <h1>Web Designer/Developer</h1>
            <ul>
                <li>James Johnston</li>
            </ul>
            <h1>Animal Wranglers</h1>
            <ul>
                <li>Anne Laird</li>
                <li>Lou Laird</li>
            </ul>
            <h1>Cast</h1>
            <ul>
                <li class="actors">Stephen Zuccaro – T.J. Brock</li>
                <li class="actors">Timothy Simpson – Lee Waldenburg</li>
                <li class="actors">Brendan Hickey – Butchie Von Fricken</li>
                <li class="actors">Thom Oliver James Boody – Todd McShay</li>
                <li class="actors">Allison Frasca – Nikki</li>
                <li class="actors">Cara Louise Macedonio – Val</li>
                <li class="actors">Anthony Panzica – Mitch</li>
                <li class="actors">Josh Berton – Dennis</li>
                <li class="actors">Jagger Kugler – Landon</li>

            </ul>
        </div>
    </div>
</div>
<% include footer.ejs %>