<% include ./navbar.ejs %>

<div id="entrance" class="clearfix">
	<img class="logo-3D" src="/assets/images/entrance/COINFIST.png" >
	<div class="clearfix">
		<a href="./enter" class="enter options">ENTER</a>
		<a href="./enter" class="leave options">LEAVE</a>
	</div>
</div>
	<div class="entrance-mobile clearfix">
		<a href="./enter" class="enter options">ENTER</a>
		<a href="./enter" class="leave options">LEAVE</a>
	</div>

<% include ./footer.ejs %>