
	<script src="/assets/scripts/jquery-3.2.1.min.js"></script>
	<script src="assets/scripts/AudioContextMonkeyPatch.js"></script>
	<script src="/assets/scripts/client.js"></script>
	
</body>
</html>