<html lang="en">
<head>
	<meta charset="utf-8">
	<title>We're like a Punk Band</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/stylesheets/general.css">
	<link rel="stylesheet" href="/assets/stylesheets/navbar.css">
	<link rel="stylesheet" href="/assets/stylesheets/entrance.css">
	<link rel="stylesheet" href="/assets/stylesheets/aboutUs.css">
	<link rel="stylesheet" href="/assets/stylesheets/characterSelect.css">
	<link rel="stylesheet" href="/assets/stylesheets/character.css">
	<link rel="stylesheet" href="/assets/stylesheets/credits.css">
	<link rel="stylesheet" href="/assets/stylesheets/music.css">
