<% include ./navbar.ejs %>

    <div class="video-container"><iframe width="853" height="480" src="https://www.youtube.com/embed/f8nIkz_cdt0?wmode=opaque" frameborder="0" allowfullscreen</iframe</div>

<% include ./footer.ejs %>