
<% include ./head.ejs %>

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<div class="navbar clearfix">
		<div id="style-2" class="navbar-links nav-scrollbar">
			<a id="home-link" class="" href="/home">
				<img class="nav-links" src="/assets/images/navbar/home.png">
			</a>
			<a id="about-us-link" class="ABOUT-US" href="/aboutUs">
				<img class="nav-links" src="/assets/images/navbar/aboutUs.png">
			</a>
			<a id="characters-link" class="" href="/characterSelect">
				<img class="nav-links" src="/assets/images/navbar/characters.png">
			</a>
			<a id="cast-crew-link" class="" href="/castCrew">
				<img class="nav-links" src="/assets/images/navbar/castCrew.png">
			</a>
			<a id="music-link" class="" href="/music">
				<img class="nav-links" src="/assets/images/navbar/music.png">
			</a>
			<a id="burger-box" class="dropdown">
				<img id="burger" src="/assets/images/navbar/hamburger.png">
			</a>
			<div class ="dropdown-content">
					<a href ="/home" class= "dropdown-item">Home</a>
					<a href ="/aboutUs" class= "dropdown-item">About us</a>
					<a href ="/characterSelect" class= "dropdown-item">characters</a>
					<a href ="/castCrew" class= "dropdown-item">cast & crew</a>
					<a href ="/music" class= "dropdown-item">music</a>
			</div>
		</div>

	</div>
