.scrollbar-about-us
{
    overflow-y: scroll;
    height: initial;
}
.force-overflow
{
	min-height: 450px;
}

#style-2::-webkit-scrollbar-track
{
    border-radius: 0px;
    background-color: transparent;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}
#about-us{
    background-image: url(../images/aboutUs/background.png);
    background-position: center;
    background-size: cover;
}
.heading img{
    width: 50%;
}
#about-us .text-block{
    width: 40%;
    background-image: url(../images/aboutUs/textBlock.png);
    background-size: 100% 100%;
    float: right;
    padding: 5% 7% 6% 7%;
    text-indent: 6vw;
    letter-spacing: .2vw;
}
p{
    padding: 6% 6%;
    font-family: momsTypewriter;
    color: white;
    font-size: 1.5vw;
}

#mobile-spacer{
    display: none;
}

@media only screen and (max-width: 425px) and (orientation: portrait) {


    

    #about-us {
        height: 92vw;
        background-image: url(../images/aboutUs/background.png);
        background-position: center;
        background-size: cover;
    }

    .heading img {
        z-index: 1;
        position: absolute;
        width: 55%;
    }

    p{
        padding: 6% 6%;
        font-family: momsTypewriter;
        color: white;
        font-size: 3.5vw;
        text-indent: 10vw;
    }
    .ABOUT-US{
      display: block;
    }
    #about-us .text-block{
        width: 60%;
        background-image: url(../images/aboutUs/textBlock.png);
        background-size: 100% 100%;
        float: right;
        padding: 5% 7% 6% 7%;
        text-indent: 6vw;
        margin-top: 21%;
        letter-spacing: .2vw;
    }
    .text-block p{
        font-size: 3vw;
    }
    
}
@media only screen and (min-width: 426px) and (max-width: 1024px){
    #about-us{
        background-position: 26% 0%;
    }
    #video-container{
        max-width:581px;
    }
    #about-us .text-block{
        margin-top: 10%;
    }
    p{
        max-height: 240px;
        padding: 6% 6%;
        font-family: momsTypewriter;
        color: white;
        font-size: 2.5vw;
    }
    .scrollbar-about-us{
    }
}
    @media only screen and (max-width: 1024px) and (orientation: portrait){


    #mobile-spacer{
        display: block;
        width: 100%;
    }
    
}
