


#card-name{
    width: 100%;
}
.character.TODD{
    width: 100%;
    background-image: url(../images/characters/backgrounds/TODD.png);

}
.character.BUTCHIE{
    width: 100%;
    background-image: url(../images/characters/backgrounds/BUTCHIE.png);
}
.character.TJ{
    width: 100%;
    background-image: url(../images/characters/backgrounds/TJ.png);
}
.character.NIKKI{
    width: 100%;
    background-image: url(../images/characters/backgrounds/NIKKI.png);
}
.character.LEE{
    width: 100%;
    background-image: url(../images/characters/backgrounds/LEE.png);
}

.character{
    height: 100%;
    font-family: momsTypewriter;
    background-position: center;
    background-size: cover;
}

.character .card{
    width: 100%;
    background-image: url(../images/characters/card.png);
    background-position: center;
    background-size: cover;
    padding: 4% 0%;
}
.description{
    width: 47%;
    background-image: url(../images/characters/textBlock.png);
    background-position: center;
    background-size: 100%;
}

.character .info{
    text-indent: 5vw;
    height: 425px;
    margin: 3% 11%;
    padding: 0%;
}
.BUTCHIE .info{
    font-size: 1.5vw;
}
.TJ .info{
    font-size: 30px;
}
.info{
    font-size: 20px;
}
#mobile-spacer{
    display: none;
}
@media only screen and (max-width:640px) and (orientation: landscape){
    .TJ .info{
        font-size: 3vw;
    }
}

@media only screen and (max-width:1024px) and (orientation: landscape){
.character{
    font-family: momsTypewriter;
    background-position: center;
    background-size: cover;
}

.character .card{
    padding: 4% 0%;
}
.description{
    margin: 3% 0% 0% 1%;
    padding: 0% 1% 9% 0%;
    width: 55%;
}

.character .info{
    text-indent: 66px;
    height: 26%;
    padding: 2% 5% 13% 0%;
    margin: 0% 10% 0% 12%;
}
.BUTCHIE .info{
    font-size: 2.5vw;
}
.character.TJ {

    background-position: 82% 0%;
}

.character.BUTCHIE {

    background-position: 66% 0%;
}
.character.LEE {

    background-position: 75% 0%;
}

.character.NIKKI{

    background-position: 60% 0%;
}
    
}
@media only screen and (orientation: portrait){
    #mobile-character{
        background-image: url(../images/charactersMobile/textBlock.png);
        background-position: center;
        background-size: 100% 100%;
    }
    #mobile-spacer{
        display: block;
        width: 100%;
    }
    .character{
        height: initial;
        padding: 0%;
    }
    .description{
        padding: 0% 2% 8% 4%;
        width: 90%;
        margin: 0 auto;
        background: none;
    }
    .character .info {
        margin: 4% 9%;
        max-height: 300px;
    }
    .LEE .info{
        font-size: 3.5vw;

    } 
    .BUTCHIE .info{
        font-size: 3vw;
    }
}