
.logo-3D{
    width: 40%;
    display: block;
    margin: 0 auto;
    
}
.options{
    font-size: 7vw;
    padding: 0% 2.5%;
    font-family: punkKid;
}
.options > a:hover{
    border-bottom: .25vw solid yellow
}
a{
    text-decoration: none;
}
.enter{
    color: darkred;
    text-decoration: none;    
    float: left;
}
#entrance{
    padding: 2.5% 2.5% 2% 2.5%;
    background-size: 100% 100%;
    background-image: url(../images/entrance/background.png);
    background-repeat: no-repeat;
}
.leave{
    color: darkred;
    float: right;
}
.entrance-mobile{
    display: none;
}
@media only screen and (orientation: portrait){
    .logo-3D{
        width: 55%;
    }
    .options{
        visibility: hidden;
    }
}
@media only screen and (max-width:1024px) and (orientation: portrait){
    .logo-3D{
        width: 90%;
    }
    .entrance-mobile{
        padding: 16% 0%;
        background-image: url(../images/aboutUs/textBlock.png);
        background-position: center;
        width: 100%;
    }
    .entrance-mobile .options{
        padding: 0%;
        visibility: visible;
        font-size: 10vw;
        margin: 21px auto;
        width: 100%;
        text-align: center;
    }
}
@media only screen and (max-width: 1024px) and (orientation: landscape){
    .logo-3D{
        width: 55%;
    }
    .options{
        font-size: 10vw;
    }
    .entrance-mobile{
        display: none;
    }
}