.navbar{
    background-image: url(../images/navbar/navbar.png);
    width: 100%;
    border-bottom: .5vw solid yellow;
    background-repeat: no-repeat;
    background-size: cover;
}
.clearfix{
	overflow: auto;
}
.logo{
    float: left;
}
.navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-links{
    width: 100%;
}
.navbar-links a{
    display: block;
    float: right;
}

#burger{
    display: none;
}
.dropdown-content a{
    display: none;
}


@media only screen and (max-width: 425px) and (orientation: portrait) {
    /*
    .navbar-links{
        height: 54px;
    }
    .navbar-links a{
        display: none;
    }
    #burger{
        display: block;
        width: 100%;
    }
    #burger-box{
        display: block;
        padding: .5% 0%;
        width: 67px;
    }
    .dropdown-content{
        display: none;
        z-index: 2;
        background: black;
        width: 50%;
        height: 29vw;
        position: absolute;
        top: 6%;
        border-left: .75vw solid yellow;
        border-bottom: .75vw solid yellow;
        border-right: .75vw solid yellow;
    }
    .dropdown-content a{
        font-family: momsTypewriter;
        text-align: right;
        width: 100%;
        font-size: 5vw;
        color: white;
        display: block;
    }
    */
   
}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .navbar{
        width: 100%;
        max-width: 1024px;
    }
    .home-link{
        width: 8%;
    }
    .about-us-link{
        width: 13%;
    }
    .characters-link{
        width: 18%
    }
    .cast-crew-link{
        width: 19%;
    }
    .music-link{
        width: 12%
    }
}
